@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
}

*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


/*Menu*/
nav{
    box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    position: fixed;
    width: 100%;
}
nav ul {
  background: #fff;
  text-align: center;
  list-style: none;
  overflow: hidden;

}

ul li {
  display: inline-block;
  padding: 20px;
  transition: all ease-in-out 250ms;
}

ul li:hover {
  background: rgb(240,240,240);
}

ul li a {
  color: black;
  text-decoration: none;
}

.hide {
  padding: 16px;
  font-size: 22px;
  background: #fff;
  color: black;
  cursor: pointer;
  display: none;
}

@media (max-width: 1000px) {
  .cover{
    margin-left: 50px;
  }
  .cover p{
    width: 50%;
  }
  ul li {
    width: 100%;
    padding: 15px;
    text-align: left;
  }

  .hide {
    display: block;
  }

  nav ul {
  display: none;

  }
}
/*COVER*/

.cover{
    margin-left: 50px;
    align-items: left;
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: 'Poppins', sans-serif;
}

.container__cover{
    margin-left: 50px;
}


.cover h1{
    max-width: 400px;
    font-size: 30px;
    font-weight: 900;
    color: #373737;
}

.cover h1 span{
    font-size: 60px;
    font-weight: 900;
    color: #FEBA0B;
}

.cover p{
    width: 500px;
    color: #373737;
    margin-bottom: 20px;
}

.cover a{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #FEBA0B;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover a:hover{
    box-shadow: 1px 1px 30px -5px #20202085;
}


.container__vector{
    position: relative;
}

.container__vector img{
    position: absolute;
    bottom: 10px;
    right: 0px;
    width: 600px;
    animation: move_vector 6s ease-in-out infinite;
    transition: all 300ms;
}


/****************************/

/*¡NO TOCAR CODIGO DE AQUÍ DEBAJO!*/


/*MUESTRA*/


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-esqueleto:#EFF3F5;
}



/*AQUI COMIENZA EL FOOTER*/

footer{
    width: 100%;
    padding: 50px 0px;
    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../Images/background-footer.svg");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;

}

.box__footer h2{
    margin-bottom: 30px;
    color: #242424;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

/*Body New*/
.body_my{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body_my .container_my_article{

    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
    margin: 100px;
    padding: 50px;
}
.photo_my img{

    border-radius: 100%;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

/*Formulario*/
.formulary_content{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulary_content .formulary_items{
    margin: 100px;
    padding: 50px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.formulary_content .formulary_items form input{
    margin-bottom: 30px;
    height: 50px;
    border: 1px solid #FEBA0B;
    width: 300px;
}
.formulary_content .formulary_items form .send{
    background-color: #FEBA0B;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.formulary_content .formulary_items form p{
    margin-bottom: 20px;
}

/*Proyectos*/
.project_info {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_info .project_items{
    margin: 100px;
    max-width: 100%;
}
.project_info .project_items .items__title{
    text-align: center;
    margin-bottom: 20px;  
    font-family: 'Poppins', sans-serif;
}
.project_info .project_items .items__title span{
    color: #FEBA0B;
}
.project_info .project_items img{
    width: 630px;
    height: 300px;
    max-width: 100%;
}

.project_info .project_items .box_project{
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}
.project_info .project_items .box_project p{
    margin-bottom: 10px;
    width: 500px;
}
.project_info .project_items .box_project a{
    text-decoration: none;
    background-color: #FEBA0B;
    color: #fff;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2);
}
@media (max-width:1000px) {
    .project_info .project_items {
        margin: 10px;
        padding: 10px;
    }
    .cover p{
        max-width: 100%;
    }
    .project_info .project_items img{
        max-height: 100%;
        max-width: 100%;
    }
}

@media (max-width:700px) {
    .project_info .project_items {
        margin: 10px;
        padding: 10px;
    }
    .project_info .project_items p{
        max-width: 100%;
    }

    .cover p{
        max-width: 100%;
    }
    .project_info .project_items img{
        max-height: 200px;
        max-width: 100%;
    }
}